<launch>
    <arg name="robot_id" default="0"/>
    <arg name="config_dir" default="$(find hydra_dsg_builder)/config/sidpac"/>
    <arg name="dsg_output_dir" default="$(find hydra_dsg_builder)/output/sidpac"/>
    <arg name="dsg_output_prefix" default="floor1_3"/>
    <arg name="typology_dir" default="$(find hydra_dsg_builder)/config/sidpac"/>
    <arg name="typology_config" default="sidpac_typology.yaml"/>
    <arg name="semantic_map_dir" default="$(find semantic_recolor)/config/colors"/>
    <arg name="semantic_map_file" default="ade150_config.csv"/>
    <arg name="semantic_map_path" default="$(arg semantic_map_dir)/$(arg semantic_map_file)"/>

    <arg name="use_gt_frame" default="false"/>
    <arg name="gt_path_csv" default="/dev/null"/>
    <arg name="use_oriented_bounding_boxes" default="true"/>
    <arg name="sensor_frame" default="left_cam"/>

    <arg name="rviz_dir" default="$(find hydra_dsg_builder)/rviz"/>
    <arg name="rviz_file" default="sidpac.rviz"/>

    <include if="$(arg use_gt_frame)" file="$(find hydra_utils)/launch/gt_pose/sidpac_gt_pose.launch">
        <arg name="path_to_csv" value="$(arg gt_path_csv)"/>
        <arg name="sensor_frame" value="$(arg sensor_frame)"/>
    </include>

    <include file="$(find hydra_topology)/launch/hydra_topology_sidpac.launch" pass_all_args="true">
        <arg name="semantic_color_path" value="$(arg semantic_map_path)"/>
        <arg name="config_dir" value="$(find hydra_topology)/config"/>
        <arg name="default" value="false"/>
    </include>

    <include file="$(find hydra_dsg_builder)/launch/dsg_builder.launch" pass_all_args="true"/>

</launch>
