<launch>
    <arg name="robot_id" default="0"/>
    <arg name="config_dir" default="$(find hydra_dsg_builder)/config/uhumans2"/>
    <arg name="dsg_output_dir" default="$(find hydra_dsg_builder)/output/uhumans2"/>
    <arg name="dsg_output_prefix" default="office"/>
    <arg name="typology_dir" default="$(find hydra_dsg_builder)/config/uhumans2"/>
    <arg name="typology_config" default="uhumans2_office_typology.yaml"/>
    <arg name="semantic_map_dir" default="$(find kimera_semantics_ros)/cfg"/>
    <arg name="semantic_map_file" default="tesse_multiscene_office1_segmentation_mapping.csv"/>
    <arg name="semantic_map_path" default="$(arg semantic_map_dir)/$(arg semantic_map_file)"/>

    <arg name="use_gt_frame" default="true"/>
    <arg name="use_oriented_bounding_boxes" default="false"/>
    <arg name="sensor_frame" default="left_cam" if="$(arg use_gt_frame)"/>
    <arg name="sensor_frame" default="left_cam_kimera" unless="$(arg use_gt_frame)"/>

    <arg name="rviz_dir" default="$(find hydra_dsg_builder)/rviz"/>
    <arg name="rviz_file" default="uhumans2.rviz"/>

    <arg name="use_static_tfs" default="true"/>
    <include file="$(find hydra_utils)/launch/includes/uhumans2_static_tfs.xml" if="$(arg use_static_tfs)"/>

    <include file="$(find hydra_topology)/launch/hydra_topology_uhumans2.launch" pass_all_args="true">
        <arg name="semantic_color_path" value="$(arg semantic_map_path)"/>
        <arg name="config_dir" value="$(find hydra_topology)/config"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find hydra_dsg_builder)/launch/dsg_builder.launch" pass_all_args="true"/>
</launch>
