<launch>
    <arg name="robot_id" default="0"/>
    <arg name="config_dir" default="$(find kimera_dsg_builder)/config/sidpac"/>
    <arg name="dsg_output_dir" default="$(find kimera_dsg_builder)/output/sidpac"/>
    <arg name="dsg_output_prefix" default="sidpac_f1_3"/>
    <arg name="typology_dir" default="$(find kimera_dsg_builder)/config/sidpac"/>
    <arg name="typology_config" default="sidpac_typology.yaml"/>
    <arg name="semantic_map_dir" default="$(find semantic_recolor)/config/colors"/>
    <arg name="semantic_map_file" default="ade150_config.csv"/>
    <arg name="semantic_map_path" default="$(arg semantic_map_dir)/$(arg semantic_map_file)"/>

    <arg name="use_semantics" default="true"/>
    <arg name="use_gt_frame" default="false"/>
    <arg name="gt_path_csv" default="/dev/null"/>
    <arg name="use_oriented_bounding_boxes" default="true"/>
    <arg name="exit_after_bag" default="false"/>

    <arg name="enable_dsg_lcd" default="false"/>
    <arg name="enable_lcd_viz" default="false"/>
    <arg name="optimize_on_lc" default="true"/>

    <arg name="dsg_should_log" default="true" />
    <arg name="pgmo_should_log" default="true"/>
    <arg name="log_registration" default="false"/>

    <arg name="debug" default="false"/>
    <arg name="launch_prefix" value="gdb -ex run --args" if="$(arg debug)"/>
    <arg name="launch_prefix" value="" unless="$(arg debug)"/>

    <arg name="min_glog_level" default="3"/>
    <arg name="verbosity" default="0"/>
    <arg name="glog_to_file" default="false"/>
    <arg name="glog_dir" default="$(find kimera_dsg_builder)/glogs"/>
    <arg name="topology_glog_dir" default="$(find kimera_topology)/glogs"/>

    <arg name="sensor_frame" default="left_cam"/>

    <include if="$(arg use_gt_frame)" file="$(find hydra_utils)/launch/sidpac_gt_pose_source.launch">
        <arg name="path_to_csv" value="$(arg gt_path_csv)"/>
        <arg name="sensor_frame" value="$(arg sensor_frame)"/>
    </include>

    <include file="$(find kimera_topology)/launch/kimera_topology_sidpac.launch">
        <arg name="use_semantics" value="$(arg use_semantics)"/>
        <arg name="show_stats" value="$(arg glog_to_file)"/>
        <arg name="semantic_color_path" value="$(arg semantic_map_path)" if="$(arg use_semantics)"/>
        <arg name="glog_to_file" value="$(arg glog_to_file)"/>
        <arg name="glog_dir" value="$(arg topology_glog_dir)"/>
        <arg name="verbosity" value="$(arg verbosity)" if="$(arg glog_to_file)"/>
        <arg name="min_glog_level" value="$(arg min_glog_level)"/>
    </include>

    <include file="$(find kimera_dsg_builder)/launch/dsg_builder.launch" pass_all_args="true"/>

</launch>
