<launch>
    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>

    <arg name="use_gt_semantics" default="true"/>
    <arg name="use_gt_frame" default="true"/>
    <arg name="use_oriented_bounding_boxes" default="false"/>
    <arg name="visualize" default="false"/>
    <arg name="room_height" default="2.0"/>

    <arg name="dsg_output_dir" default="$(find kimera_dsg_builder)/output/uhumans2"/>
    <arg name="dsg_output_prefix" default="uhumans2_office"/>
    <arg name="dsg_output_use_date" default="false"/>
    <arg name="dsg_should_log" default="true" />
    <arg name="dsg_path" value="$(arg dsg_output_dir)/$(arg dsg_output_prefix)"/>

    <arg name="voxel_size" default="0.10"/>
    <arg name="max_ray_length_m" default="4.5"/>
    <arg name="update_period_s" default="1.0"/>

    <arg name="config_dir" default="$(find kimera_topology)/config"/>
    <arg name="config" default="uhumans2_topology_config.yaml"/>
    <arg name="semantic_config" default="uhumans2_semantic_config.yaml" if="$(arg use_gt_semantics)"/>
    <arg name="semantic_config" default="ade150_semantic_config.yaml" unless="$(arg use_gt_semantics)"/>

    <arg name="semantic_map_dir" default="$(find kimera_semantics_ros)/cfg"/>
    <arg name="semantic_map_file" default="tesse_multiscene_office1_segmentation_mapping.csv"/>
    <arg name="semantic_map_path" default="$(arg semantic_map_dir)/$(arg semantic_map_file)"/>

    <arg name="semantic_color_path" default="$(arg semantic_map_path)" if="$(arg use_gt_semantics)"/>
    <arg name="semantic_color_path"
         default="$(find semantic_recolor)/config/colors/ade150_config.csv"
         unless="$(arg use_gt_semantics)"/>

    <arg name="sensor_frame" default="left_cam_kimera" unless="$(arg use_gt_frame)"/>
    <arg name="sensor_frame" default="left_cam" if="$(arg use_gt_frame)"/>

    <arg name="camera_info_topic" default="/tesse/seg_cam/camera_info" if="$(arg use_gt_semantics)"/>
    <arg name="camera_info_topic" default="/tesse/left_cam/camera_info" unless="$(arg use_gt_semantics)"/>
    <arg name="camera_topic" default="/tesse/seg_cam/rgb/image_raw" if="$(arg use_gt_semantics)"/>
    <arg name="camera_topic" default="/tesse/left_cam/rgb/image_raw" unless="$(arg use_gt_semantics)"/>
    <arg name="depth_topic" default="/tesse/depth_cam/mono/image_raw"/>
    <arg name="pointcloud_topic" default="/semantic_pointcloud"/>

    <include file="$(find kimera_topology)/launch/includes/rgbd_to_pointcloud.xml"
             if="$(arg use_gt_semantics)">
        <arg name="camera_info_topic" value="$(arg camera_info_topic)"/>
        <arg name="camera_topic" value="$(arg camera_topic)"/>
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="pointcloud_topic" default="$(arg pointcloud_topic)"/>
    </include>

    <include file="$(find semantic_recolor)/launch/semantic_recolor_pointcloud.launch"
             unless="$(arg use_gt_semantics)">
        <arg name="rgb_info_topic" value="$(arg camera_info_topic)"/>
        <arg name="rgb_topic" value="$(arg camera_topic)"/>
        <arg name="depth_topic" value="$(arg depth_topic)"/>
        <arg name="pointcloud_topic" default="$(arg pointcloud_topic)"/>
    </include>

    <arg name="debug" default="false"/>
    <arg name="launch_prefix" value="gdb -ex run --args" if="$(arg debug)"/>
    <arg name="launch_prefix" value="" unless="$(arg debug)"/>

    <arg name="min_glog_level" default="0"/>
    <arg name="verbosity" default="0"/>
    <arg name="glog_to_file" default="false"/>
    <arg name="glog_dir" default="$(find kimera_dsg_builder)/glogs"/>
    <arg name="glog_file_args" value="--logtostderr=0 --log_dir=$(arg glog_dir)" if="$(arg glog_to_file)"/>
    <arg name="glog_file_args" value="" unless="$(arg glog_to_file)"/>

    <include file="$(find kimera_dsg_visualizer)/launch/includes/kimera_dsg_visualizer_params.xml">
        <arg name="viz_config_dir" value="$(find kimera_dsg_builder)/config/incremental_visualizer"/>
    </include>

    <node pkg="kimera_dsg_builder" type="kimera_dsg_builder_batch_node"
          name="batch_dsg_builder_node"
          launch-prefix="$(arg launch_prefix)"
          args="--minloglevel=$(arg min_glog_level) -v=$(arg verbosity) $(arg glog_file_args)"
          required="true"
          output="screen">
        <remap from="pointcloud" to="$(arg pointcloud_topic)"/>
        <param name="sensor_frame" value="$(arg sensor_frame)"/>
        <param name="verbose" value="false"/>
        <param name="publish_pointclouds" value="false"/>

        <rosparam command="load" file="$(arg config_dir)/$(arg config)"/>
        <rosparam command="load" file="$(arg config_dir)/$(arg semantic_config)"/>
        <param name="semantic_label_2_color_csv_filepath" value="$(arg semantic_color_path)"/>

        <param name="use_oriented_bounding_boxes" value="$(arg use_oriented_bounding_boxes)"/>
        <param name="room_finder_esdf_slice_level" value="$(arg room_height)"/>

        <param name="tsdf_voxel_size" value="$(arg voxel_size)"/>
        <param name="max_ray_length_m" value="$(arg max_ray_length_m)"/>
        <param name="max_distance_m" value="$(arg max_ray_length_m)"/>
        <param name="update_period_s" value="$(arg update_period_s)"/>

        <param name="semantic/voxel_size" value="$(arg voxel_size)"/>
        <param name="semantic/voxels_per_side" value="16"/>
        <param name="semantic/add_robot_pose" value="false"/>
        <param name="semantic/generate_mesh" value="true"/>
        <param name="semantic/truncation_distance" value="0.4"/>
        <param name="semantic/esdf_min_distance_m" value="0.2"/>

        <param name="dsg/output_path" command="date +'$(arg dsg_path)_%Y_%m_%d_%I_%M_%S.json'"
               if="$(arg dsg_output_use_date)"/>
        <param name="dsg/output_path" value="$(arg dsg_path).json"
               unless="$(arg dsg_output_use_date)"/>

        <rosparam param="dynamic_semantic_labels">[20]</rosparam>
        <rosparam param="stuff_labels">[0, 3, 4, 9, 11, 14, 19]</rosparam>
        <rosparam param="object_labels">[2, 5, 6, 7, 10, 11, 12, 13, 16, 17, 18]</rosparam>
        <rosparam param="walls_labels">[]</rosparam>
        <rosparam param="floor_labels">[]</rosparam>

        <param name="dsg_log_output" value="$(arg dsg_should_log)" />
        <param name="dsg_output_path" value="$(arg dsg_path)"/>
        <param name="visualize" value="$(arg visualize)"/>
    </node>

</launch>
