<launch>
    <arg name="robot_id" default="0"/>
    <arg name="config_dir" default="$(find kimera_dsg_builder)/config/uhumans2"/>
    <arg name="dsg_output_dir" default="$(find kimera_dsg_builder)/output/uhumans2"/>
    <arg name="dsg_output_prefix" default="uhumans2_office"/>
    <arg name="typology_dir" default="$(find kimera_dsg_builder)/config/uhumans2"/>
    <arg name="typology_config" default="uhumans2_office_typology.yaml"/>
    <arg name="semantic_map_dir" default="$(find kimera_semantics_ros)/cfg"/>
    <arg name="semantic_map_file" default="tesse_multiscene_office1_segmentation_mapping.csv"/>
    <arg name="semantic_map_path" default="$(arg semantic_map_dir)/$(arg semantic_map_file)"/>

    <arg name="use_semantics" default="true"/>
    <arg name="use_gt_frame" default="true"/>
    <arg name="use_oriented_bounding_boxes" default="false"/>
    <arg name="exit_after_bag" default="false"/>

    <arg name="enable_dsg_lcd" default="false"/>
    <arg name="enable_lcd_viz" default="false"/>
    <arg name="optimize_on_lc" default="true"/>

    <arg name="dsg_should_log" default="true" />
    <arg name="pgmo_should_log" default="true"/>
    <arg name="log_registration" default="false"/>

    <arg name="debug" default="false"/>
    <arg name="launch_prefix" value="gdb -ex run --args" if="$(arg debug)"/>
    <arg name="launch_prefix" value="" unless="$(arg debug)"/>

    <arg name="min_glog_level" default="3"/>
    <arg name="verbosity" default="0"/>
    <arg name="glog_to_file" default="false"/>
    <arg name="glog_dir" default="$(find kimera_dsg_builder)/glogs"/>
    <arg name="topology_glog_dir" default="$(find kimera_topology)/glogs"/>

    <arg name="sensor_frame" default="left_cam" if="$(arg use_gt_frame)"/>
    <arg name="sensor_frame" default="left_cam_kimera" unless="$(arg use_gt_frame)"/>

    <arg name="use_static_tfs" default="true"/>
    <include file="$(find hydra_utils)/launch/includes/uhumans2_static_tfs.xml" if="$(arg use_static_tfs)"/>

    <include file="$(find kimera_topology)/launch/kimera_topology_uhumans2.launch">
        <arg name="use_semantics" value="$(arg use_semantics)"/>
        <arg name="use_gt_frame" value="$(arg use_gt_frame)"/>
        <arg name="show_stats" value="$(arg glog_to_file)"/>
        <arg name="semantic_color_path" value="$(arg semantic_map_path)" if="$(arg use_semantics)"/>
        <arg name="glog_to_file" value="$(arg glog_to_file)"/>
        <arg name="glog_dir" value="$(arg topology_glog_dir)"/>
        <arg name="verbosity" value="$(arg verbosity)" if="$(arg glog_to_file)"/>
        <arg name="min_glog_level" value="$(arg min_glog_level)"/>
    </include>   

    <include file="$(find kimera_dsg_builder)/launch/dsg_builder.launch" pass_all_args="true"/>
</launch>
