<launch>
    <arg name="robot_name"/>
    <arg name="robot_id"/>

    <arg name="robot_frame" default="$(arg robot_name)/base_link_kimera"/>
    <arg name="odom_frame" default="$(arg robot_name)/odom"/>
    <arg name="sensor_frame" default="$(arg robot_name)/left_cam_kimera"/>
    <arg name="map_frame" default="$(arg robot_name)/map"/>

    <arg name="start_visual_lc" default="true"/>
    <arg name="start_hydra" default="true"/>

    <arg name="load_visual_lc_session" default="false"/>
    <arg name="visual_lc_session_dir" default=""/>

    <!-- logging output for hydra -->
    <arg name="output_dir" default="$(find hydra_multi)/output/"/>
    <arg name="dsg_output_dir" default="$(arg output_dir)/$(arg robot_name)/"/>
    <arg name="dsg_output_prefix" default="hydra"/>
    <arg name="log_registration" default="false"/>
    <arg name="log_timing_incrementally" default="false"/>
    <arg name="dsg_path" default="$(arg dsg_output_dir)/$(arg dsg_output_prefix)"/>
    <arg name="start_logger" default="false"/>

    <arg name="save_lcd_frames" default="false"/>
    <arg name="save_lcd_output" default="$(arg output_dir)"/>

    <arg name="log_vio_output" default="false"/>
    <arg name="vio_output_dir" default="$(arg output_dir)/$(arg robot_name)/"/>
    <arg name="vio_output_prefix" default="vio"/>

    <arg name="start_visualizer" default="false"/>
    <arg name="use_gt_frame" default="false"/>
    <arg name="should_use_sim_time" default="false"/>
    <arg name="debug" default="false"/>

    <arg name="use_image_interface" default="false"/>
    <arg name="use_gt_semantics" default="true"/>
    <arg name="rgb_topic" default="/$(arg robot_name)/tesse/left_cam/rgb/image_raw" if="$(arg use_image_interface)"/>
    <arg name="rgb_info_topic" default="/$(arg robot_name)/tesse/left_cam/camera_info"/>
    <arg name="depth_topic" default="/$(arg robot_name)/tesse/depth_cam/mono/image_raw"/>
    <arg name="label_topic" default="/$(arg robot_name)/semantic/image_raw" unless="$(arg use_gt_semantics)"/>
    <arg name="label_topic" default="/$(arg robot_name)/tesse/seg_cam/rgb/image_raw" if="$(arg use_gt_semantics)"/>
    <arg name="pointcloud_topic" default="/$(arg robot_name)/semantic_pointcloud"/>

    <arg name="use_zmq_interface" default="false"/>

    <include file="$(find hydra_ros)/launch/datasets/uhumans2.launch" ns="$(arg robot_name)"
        pass_all_args="true" if="$(arg start_hydra)"/>

    <include file="$(find kimera_centralized_pgmo)/launch/loop_closure_robot.launch" ns="$(arg robot_name)"
        pass_all_args="true" if="$(arg start_visual_lc)">
        <arg name="comm_sleep_time" value="1"/>
        <arg name="save_output" value="$(arg save_lcd_frames)"/>
        <arg name="save_output_dir" value="$(arg save_lcd_output)"/>
        <arg name="load_session" value="$(arg load_visual_lc_session)"/>
        <arg name="load_dir" value="$(arg visual_lc_session_dir)"/>
    </include>
</launch>
