<launch>
    <arg name="use_semantics" default="true"/>

    <arg name="config"/>
    <arg name="extrinsics"/>
    <arg name="sensor_frame"/>
    <arg name="world_frame" default="world"/>
    <arg name="use_pose_graph"/>
    <arg name="pointcloud_topic" default="/semantic_pointcloud"/>
    <arg name="semantic_map_path" if="$(arg use_semantics)"/>

    <arg name="graph_viz_config_dir" default="$(find hydra_topology)/config"/>
    <arg name="graph_viz_config" default="graph_visualization_config.yaml"/>
    <arg name="graph_viz_config_file" value="$(arg graph_viz_config_dir)/$(arg graph_viz_config)"/>

    <arg name="debug" default="false"/>
    <arg name="force_term_info" default="true"/>
    <arg name="launch-prefix" default="gdb --args" if="$(arg debug)"/>
    <arg name="launch-prefix" default="" unless="$(arg debug)"/>

    <arg name="min_glog_level" default="0"/>
    <arg name="verbosity" default="0"/>
    <arg name="glog_to_file" default="false"/>
    <arg name="glog_dir" default="$(find hydra_topology)/glogs"/>
    <arg name="glog_file_args" value="--logtostderr=0 --log_dir=$(arg glog_dir)" if="$(arg glog_to_file)"/>
    <arg name="glog_file_args" value="" unless="$(arg glog_to_file)"/>
    <arg name="ros_output" value="screen" unless="$(arg glog_to_file)"/>
    <arg name="ros_output" value="log" if="$(arg glog_to_file)"/>
    <arg name="show_stats" default="$(arg glog_to_file)"/>
    <arg name="log_timing_incrementally" default="false"/>

    <arg name="start_rviz" default="false"/>
    <arg name="rviz_dir" default="$(find hydra_topology)/rviz"/>
    <arg name="rviz_file" if="$(arg start_rviz)"/>
    <arg name="rviz_path" default="$(arg rviz_dir)/$(arg rviz_file)"/>

    <arg name="dsg_output_dir" default="$(find hydra_topology)/output"/>
    <arg name="dsg_output_prefix"/>
    <arg name="dsg_path" default="$(arg dsg_output_dir)/$(arg dsg_output_prefix)"/>

    <node name="hydra_topology_node" type="hydra_topology_node" pkg="hydra_topology"
          args="--minloglevel=$(arg min_glog_level) -v=$(arg verbosity) $(arg glog_file_args)"
          launch-prefix="$(arg launch-prefix)"
          output="$(arg ros_output)"
          required="true">
        <env name="TERM" value="xterm-256color" if="$(arg force_term_info)"/>
        <!-- params -->
        <rosparam command="load" file="$(arg graph_viz_config_file)"/>
        <rosparam command="load" file="$(arg extrinsics)"/>
        <rosparam command="load" file="$(arg config)"/>
        <!-- input data -->
        <remap from="~pointcloud" to="$(arg pointcloud_topic)"/>
        <param name="robot_frame" value="$(arg sensor_frame)"/>
        <param name="world_frame" value="$(arg world_frame)"/>
        <!-- general config -->
        <param name="log_path" value="$(arg dsg_path)"/>
        <param name="log_timing_incrementally" value="$(arg log_timing_incrementally)"/>
        <param name="semantic_label_file" value="$(arg semantic_map_path)" if="$(arg use_semantics)"/>
        <param name="show_stats" value="$(arg show_stats)"/>
        <param name="publish_reconstruction_mesh" value="true"/>
        <param name="enable_reconstruction_output_queue" value="false"/>
        <param name="visualize_reconstruction" value="true"/>
        <param name="use_pose_graph" value="$(arg use_pose_graph)"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" output="log" if="$(arg start_rviz)" args="-d $(arg rviz_path)"/>

</launch>
