---
dsg:
  add_places_to_deformation_graph: true
  places_merge_pos_threshold_m: 1.0
  places_merge_distance_tolerance_m: 0.5
  merge_update_dynamic: true
  merge_update_map: {BUILDINGS: false, ROOMS: false, PLACES: true, OBJECTS: false}
pgmo:
  covariance:
    odom: 1.0e-02
    loop_close: 5.0e-02
    sg_loop_close: 1.0e-01
    prior: 1.0e-02
    mesh_mesh: 1.0e-02
    pose_mesh: 1.0e-02
    place_mesh: 1.0e-02
    place_edge: 10.0
    place_merge: 10.0
    object_merge: 10.0
enable_rooms: false
enable_buidlings: false
