<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>
  <arg name="scene_graph"/>
  <arg name="scene_graph_dir" default="$(find kimera_scene_graph)/output"/>
  <arg name="scene_graph_path" value="$(arg scene_graph_dir)/$(arg scene_graph)"/>

  <arg name="viz_config_dir" default="$(find kimera_scene_graph)/config/visualizer"/>
  <arg name="verbosity" default="0"/>

  <arg name="debug" default="false"/>
  <arg name="launch-prefix" default="gdb --args" if="$(arg debug)"/>
  <arg name="launch-prefix" default="" unless="$(arg debug)"/>

  <!-- TODO(nathan) fix the visualizer namespaces -->
  <node name="kimera_scene_graph_eval_node"
        pkg="kimera_scene_graph"
        type="scene_graph_visualizer"
        output="screen"
        required="true"
        args="-alsologtostderr -colorlogtostderr -v=$(arg verbosity)">
    <rosparam file="$(arg viz_config_dir)/visualizer.yaml" ns="visualizer"/>
    <rosparam file="$(arg viz_config_dir)/objects_layer.yaml" ns="visualizer/layer2"/>
    <rosparam file="$(arg viz_config_dir)/places_layer.yaml" ns="visualizer/layer3"/>
    <rosparam file="$(arg viz_config_dir)/rooms_layer.yaml" ns="visualizer/layer4"/>
    <rosparam file="$(arg viz_config_dir)/buildings_layer.yaml" ns="visualizer/layer5"/>

    <param name="world_frame"               value="world"/>
    <param name="scene_graph_input_path"    value="$(arg scene_graph_path)"/>
  </node>

</launch>
