<launch>
    <arg name="sensor_frame" default="left_cam"/>
    <arg name="debug" default="false"/>
    <arg name="include_a1_static_tfs" default="true"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="fake_tf3"
          args="0 0 0 0 0 0 1 world cam_t265_odom_frame"/>

    <!-- LEFT -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="left_odom_to_d455"
          args="-0.07034613000000001 0.06830940000000001 -0.22065005 0.9013236197393253 0.06352858867335608 -0.3958319267203753 -0.1640028528740336  cam_t265_imu_optical_frame cam_left_d455_kalibr"/>

   <node pkg="tf2_ros" type="static_transform_publisher" name="kalibr_optical_to_cam_left_d455_link"
          args="0 0 0 0 0 0 1 cam_left_d455_kalibr cam_left_d455_link"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="cam_left_d455_link_to_left_cam"
          args="0 0 0 0 0 0 1 cam_left_d455_link left_cam"/>

    <group if="$(arg debug)">
        <arg name="rgb_info_topic" default="/cam_left_d455/color/camera_info"/>
        <arg name="rgb_topic" default="/cam_left_d455/color/image_raw"/>
        <arg name="depth_topic" default="/cam_left_d455/aligned_depth_to_color/image_raw"/>
        <arg name="pointcloud_topic" default="/semantic_pointcloud"/>

        <include file="$(find hydra_utils)/launch/includes/rgbd_to_pointcloud.xml" pass_all_args="true"/>
    </group>


    <!-- RIGHT -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_d455"
          args="0.08937583 0.05073359 -0.16322368
                0.8984350018226137 -0.07976267048214225 0.4017443351692391 -0.1582844109050835
                cam_t265_imu_optical_frame cam_right_d455_kalibr"/>

   <node pkg="tf2_ros" type="static_transform_publisher" name="kalibr_optical_to_cam_right_d455_link"
          args="0 0 0 0 0 0 1 cam_right_d455_kalibr cam_right_d455_link"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="cam_right_d455_link_to_right"
          args="0 0 0 0 0 0 1 cam_right_d455_link right_cam"/>

    <group if="$(arg include_a1_static_tfs)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="bag_static_tf_0" args="0.000170129875187 0.0210378393531 -4.32793240179e-05 2.22044604925e-16 0.0 1.0 0.0 cam_t265_link cam_t265_gyro_frame"/>

        <node pkg="tf2_ros" type="static_transform_publisher" name="bag_static_tf_1" args="0.0 -0.0 -0.0 0.5 -0.5 -0.5 0.5 cam_t265_gyro_frame cam_t265_imu_optical_frame"/>

        <node pkg="tf2_ros" type="static_transform_publisher" name="bag_static_tf_2" args="0.000170129875187 0.0210378393531 -4.32793240179e-05 2.22044604925e-16 0.0 1.0 0.0 cam_t265_link cam_t265_accel_frame"/>

        <node pkg="tf2_ros" type="static_transform_publisher" name="bag_static_tf_3" args="0.0 -0.0 -0.0 0.5 -0.5 -0.5 0.5 cam_t265_accel_frame cam_t265_accel_optical_frame"/>

        <node pkg="tf2_ros" type="static_transform_publisher" name="bag_static_tf_4" args="0.0 -0.0 -0.0 -0.0 -0.0 -0.0 1.0 cam_t265_pose_frame cam_t265_link"/>
    </group>
</launch>
